body{
    background-color: rgb(0, 0, 0)
  }

  .favourite {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    margin: 20px;
    padding: 5px;
  }